




.item img{
    width: 270px;
    height: 270px;
    border: 1px solid black;
}
#content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    background-image: url(../img/backgroundcarts.jpg);
    height: 100%;
}
.item p{
    text-align: center;
    
}
.item h5{
    text-align: center;
}
#texthead{
    font-style: italic;
    margin-top: 1px;
    text-align: center;
    color: cyan;
    font-size: 70px;
}